/* CSS reset  */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('/img/Bg.png');
    height: 100%;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    display: flex;
    /* padding: 0px 1px;
    margin: 0px auto; */
}

.logo {
    font-family: "Road Rage";
    color: white;
    position: relative;
    left: 70px;
    top: 10px;
    font-size: 1.8rem;
}

ul {
    display: flex;
    font-size: 1.3rem;
}

nav li {
    list-style: none;
}

nav li a {
    /* display: inline-block; */
    color: white;
    text-decoration: none;
    padding: 13px 20px;
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
    /* justify-content: center; */
    position: initial;
    left: 550px;
    top: 10px;
}

.item:hover {
    background: white;
    border-radius: 10px;
    color: black;
}