/* <!-- CSS design --> */

body {
    margin: 0px;
    padding: 0px;
    background-image: url("/img/Limited\ Edition\ FHD.png");
    font-family: 'Turret Road', cursive;
    color: white;
}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 2px;
}

.left img {
    width: 92px;
    padding: 2px;
    /* filter: invert(100%); */
}

.mid {
    /* border: 2px solid red; */
    display: block;
    margin: 34px auto;
    width: 33%;
}

.right {
    position: absolute;
    right: 34px;
    top: 22px;
    display: inline-block;
    /* border: 2px solid red; */
}

.btn {
    margin: 0px 4px;
    padding: 8px 15px;
    background: rgb(55, 37, 59);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-family: 'Turret Road', cursive;
}

.btn:hover {
    background: rgb(247, 73, 96);
}

.nav li a {
    color: white;
    text-decoration: none;
    padding: 12px 23px;
}

.nav li a:hover,
.nav li a.active {
    color: #93ecf2;
    text-decoration: underline;
    padding: 12px 23px;
}

.nav li {
    display: inline-block;
    font-size: 17px;
}

.container {
    border: 2px solid yellow;
    width: 33%;
    margin: 70px 110px;
    padding: 18px;
    border-radius: 10px;
    display: inline-block;
}

.form-group input {
    font-family: 'Turret Road', cursive;
    font-style: italic;
    text-align: center;
    margin: 10px -3px;
    padding: 2px 2px;
    width: 33%;
    border-radius: 10px;
    border: 3px solid black;
}